*{
    margin: 0px;
    font-family: arial;
    color: rgb(255, 255, 255);
}
body{
    background-image: url(imageshabk.jpg);
    background-size: cover;
}
.heading{
    height: 60px;
    display: flex;
    justify-content: flex-end;
}
.panelone{  
    height: 60px;
    width: 400px;
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
}
.panelone a:hover{
    color: blue;
}
.panelone a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}

.panelone button{
    background-color: blue;
    color: white;
    border: 0px;
    height: 40px;
    width: 95px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

/*****CENTER*****/


.firstcenter{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    height: 90px;
    font-size: 90px;
    padding-bottom: 100px;
}


#ge{
    color:blue;
}
#oe{
        color: red;

}
#or{
    color:orange;
}
#gf{
    color: blue;
}
#le{
    color: rgb(50, 223, 50);

}
#ee{
    color: red;
}


/*****SEARCH*****/


.searchbar{
    display: flex;
    justify-content: center;
}
.vol1{
    background-color: rgba(255, 255, 255, 0.322);
    width: 910px;
    height: 40px;
    display:flex;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius:50px;
    align-items: center;
    justify-content: space-evenly;
}
.vol1 input{
    border: 0px;
    height: 40px;
    width: 800px;
    font-size: 20px;
    font-weight: 100;
    background-color:rgba(255, 255, 255, 0);
}
.vol1 i{
    color: rgba(0, 0, 0, 0.486);
}
.vol1:hover{
    border: solid 5px blue;
}
.easyget{
    display: flex;
    justify-content: center;
}
.easyopen{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-between;   
    width:230px
}
.easyopen button{
    border: 0px;
    height: 40px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(238, 234, 234, 0.493);
}
.language{
       display: flex;
       margin-top: 10px;
       justify-content: center;
}

.select{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.lang{
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
}
.lang a{
    color: rgb(221, 185, 255);
    text-decoration: none;
}
.lang a:hover{
    color: rgb(255, 60, 0);
}


/****FOOTER****/
.webend{
    margin-top: 270px;
}
.row1{
    height: 50px;
    background-color: rgba(221, 220, 220, 0.5);
    display: flex;
    align-items: center;
}
.row1 p{
    padding-left: 50px;
    font-weight: 300;
    
}
.row1 p:hover{
    color: blue;
}
.row2{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(221, 220, 220, 0.5);
    border-top: 1px rgba(0, 0, 0, 0.212) solid;
}
.part1{
    padding-left: 20px;
    font-weight: 300;
    width: 400px;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
}
.part1 a{
    text-decoration: none;
}
.part1 a:hover{
     color: red;
     font-weight: 700;
     font-size: 15px;
}
.part2{
    padding-right: 20px;
    font-weight: 300;
    width: 400px;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
}

.part2 a{
    text-decoration: none;
}
.part2 a:hover{
    color: red;
    font-weight: 700;
    font-size: 15px;
    transition:inherit;
}




/*********MEDIA SECTION*********/







@media only screen and (max-width:700px){
    .heading{
        height: 20%;
    }
    .logo{

        height: 20px;
    }
    #ge{
        font-size: 50px;
    }
    #oe{
        font-size: 50px;
    }
    #or{
        font-size: 50px;
    }
    #gf{
        font-size: 50px;
    }
    #le{
        font-size: 50px;
    }
    #ee{
        font-size: 50px;
    }
    .vol1{
        width: 80%;
        position: relative;
        bottom: 50px;
    }
    
    .vol1 input{
       width: 60%;
    }
    .logo{
        height: 0%;
    }

    .easyget{
        width: 100%;
        height: 10%;
    }
    .easyopen{
        margin: 0%;
    }
    .easyopen  button{
        height: 50%;
        position: relative;

    }
    .language{
        position: relative;
        top: 0px;
    }
    .select{
        font-size: 10px;
        position: relative;     
    }
    .lang a{
        font-size: 10px;
    }

    .part1 a{
        font-size: 9px;
    }
    .row2{
        height: 10%;
    }
    .part2{
        width: 50%;
    }
    .part2 a{
        font-size: 9px;
    }
}